<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Overview</title>
</head>
<body>
    <h1>Welcome (variable-name), to the sports page!</h1>
    <h3>Please choose a sport from the list below:</h3>
    <h3>_________________________________________________</h3>
    <a href="Soccer"><p2>Soccer</p2></a>
    <a href="Baseball"><p3>Baseball</p3></a>
    <a href="Boxing"><p4>Boxing</p4></a>
</body>
</html>
